.card-group{
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 5px;
    }
    div{
        display: block;
    }
    img{
        width: 200px;
        height: 250px;
    }
 .card{
     border: 1px solid black;
     padding: 5px;
 }   